<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<body id="body-pd">
<header th:replace="fragments/header :: header"> </header>
<div th:replace="fragments/navbar :: navbar"> </div>

<div class="bg-light">
    <div th:replace="clients/modals/createModal :: clients-create-modal"> </div>
    <div th:replace="clients/modals/deleteModal :: clients-delete-modal"> </div>
    <div th:replace="clients/modals/updateModal :: clients-update-modal"> </div>

    <div style="width:100%; padding-bottom:3em; padding-top: 1em">
        <h4 style="float: left;">Manage clients</h4>

        <div class="modal-button-wrapper">
            <button id="myModal" type="button" class="btn btn-primary vis-button-style" data-toggle="modal" data-target="#createClientModal">
                Add a new client
            </button>
        </div>
    </div>

    <div class="card" style="width:100%">
        <div class="card-body">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Company name</th>
                    <th scope="col">Company email</th>
                    <th scope="col">Name of contact person</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client: ${clients}">
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.contactName}"></td>
                    <td th:text="${client.address}"></td>
                    <td class="vis-crud-button-column">
                        <button id="editModal" type="button" data-toggle="modal" data-target="#editClientModal" class="vis-crud-button">
                            <i onclick="updateClient(this)" th:clid="${client.id}"  th:name="${client.name}" th:email="${client.email}" th:contact="${client.contactName}" th:address="${client.address}" class='bx bx-edit nav_icon nav_icon-crud'></i>
                        </button>
                    </td>
                    <td class="vis-crud-button-column">
                        <button id="deleteModal" type="button" data-toggle="modal" data-target="#deleteClientModal" class="vis-crud-button">
                            <i onclick="deleteClient(this)"  th:clid="${client.id}"  th:name="${client.name}" th:email="${client.email}" th:contact="${client.contactName}" th:address="${client.address}" class='bx bx-trash nav_icon nav_icon-crud'></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer"> </div>
</html>
